.form {
  &__group {
    position: relative;
    transition: all 0.5s;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  &__input {
    padding: 1.5rem 3rem;
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    border: none;
    width: 90%;
    border-bottom: transparent;
    border-radius: 3px;
    display: block;

    @include respond(tab-port) {
      width: 100%;
    }

    &:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
    &:focus {
      outline: none;
      box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.1);
      border-bottom: 3px solid $color-primary;
    }
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &_radio_group {
    width: 49%;
    display: inline-block;
  }

  &_radio_label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;

    @include respond(tab-port) {
      padding-left: 3.2rem;
    }
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: -0.4rem;
    left: 0;
    backface-visibility: hidden;
    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      height: 1.3rem;
      width: 1.3rem;
      background-color: $color-primary;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
  &_radio_input {
    display: none;
  }

  &_radio_input:checked + &_radio_label &_radio-button ::after {
    opacity: 1;
  }

  &__input:placeholder-shown + &-label {
    transform: translateY(-3rem);
    opacity: 0;
    visibility: hidden;
  }
}
