.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.3);
  backdrop-filter: blur(10px);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;

  &__content {
    @include absCenter;
    background-color: $color-white;
    width: 75%;
    display: table;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.8s;
    transform: translate(-50%, -50%) scale(0);
    @include respond(tab-land) {
      width: 85%;
    }
  }
  &__image {
    display: block;
    width: 100%;
  }
  &__left {
    width: 33.33333%;
    display: table-cell;
    vertical-align: middle;
  }
  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 4rem;
  }
  &__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    color: $color-grey-dark-2;
    font-weight: 300;
    height: 5rem;
    width: 5rem;
    border-radius: 50px;
    text-align: center;
    vertical-align: baseline;
    font-size: 3rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    text-decoration: none;
    transition: all 0.8s;

    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}
